# Dependencies
node_modules/

# Environment variables
.env

# Database
db/*.db
db/*.db-shm
db/*.db-wal

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Runtime
.node_repl_history